html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('../public/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // background: linear-gradient(to bottom, #4e54c8, #8f94fb);
  color: #3549a1;
  font-size: 20px;
}

#__next {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

main {
  padding: 20px;
  min-height: 400px;
  // height: 1500px;
}

header,
footer {
  min-height: 80px;
}

header {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5)
  );
  display: flex;
  align-items: center;
  padding: 0 20px;
}

footer {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5)
  );
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.thumb {
  max-width: 100vw;
  min-width: 320px;
  margin: 0 auto;
}

.imgWrapper {
  display: block;
  max-width: 100%;
  height: auto;
  
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    transition: color 100ms linear;
    color: rgb(50, 132, 255);
    text-shadow: 3px 6px 6px rgba(0, 0, 0, 0.15);
  }
}
span {
  content-visibility: hidden;
}

footer {
  color: #fff;
  // &:hover {
  //   color: rgb(137, 183, 252);
  // }
}